.dropdownForm {
    min-width: 300px !important;
    margin-top: 20px;
    width: fit-content;
  }

 
.chip {
    background-color: #ccc; /* White background */
    color: #333; /* Darker text for better visibility */
    border-radius: 5px !important;
    height: 21px !important;
    padding: 3px !important;
    margin: 2px !important;
  }
  
  .chipDeleteIcon {
    color: #080808 !important; /* Gray delete icon */
  }
.crossIcon{
    height: 21px;
}
.select-multiple-chip{
    display: flex;
    justify-content: space-between;
}

.chipsContainer {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 2px 8px;
  box-sizing: border-box;
}
.vl{
  border-right: 1px solid #ccc;
  height: 21px;
  margin-right: 8px;
}
